@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&display=swap');
@import 'normalize';

* {
	box-sizing: border-box;
}
html {
	font: 10px/1.6 'Hind Guntur', sans-serif;
	height: 100%;
}
body {
	font-size: 1.6rem;
	color: #5d5d5d;
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #6c6c6c;
}
// hr {
// 	margin: 0; 
// 	border: 0;
// 	height: 1px;
// 	background: #4affff;
// 	position: absolute;
// 	z-index: 2;
// 	top: 18%;
// 	width: 100%;
// }
.container {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 430px;
	height: 500px;
	background-color: #fdde7e;
	width: 950px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.item {
	width: 30%;
	height: 400px;
	background-color: #fff;
	margin: 10px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.item__2 {
	height: 450px;
	padding: 55px;	
}
.item__price {
	font-size: 5.5rem;
	letter-spacing: 1.2;
	font-weight: 600;
	color: #02995b;
}
.img__item {
	width: 110px;
	height: 110px;
}
h1 {
	color: #333333;
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 0;
}
p {
	font-size: 1.6rem;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 1.3;
}